{% extends 'shelters/base.html' %}



{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center text-white" style="max-height: 100%">
        <div class="col-12 col-md-12 col-lg-6  mb-4 mt-5  justify-content-center mx-auto" style="max-width: 100%;">
            <!-- <img src={{animal.first_picture}} class="rounded " alt="..."> -->
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-interval="false" data-bs-ride="true">

                <div class="carousel-indicators">
                    {% for picture in animal.pictures_list %}
                    <button type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter == 1 %}active{% endif %}"
                        aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for picture in animal.pictures_list %}
                    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
                        <img src="{{picture}}" class="d-block h-75 w-100 " alt="..."
                            data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Slides/1.webp">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-4 mt-5 px-5">
            <h1 class="fs-1" style="text-align:left">{{animal.name}} </h1>

            <h1 class="fs-1" style="text-align:left"></h1>
            <h2 class="fs-2" style="text-align:left">Informacje </h2>
            <p></p>
            <div class="row row-cols-auto border py-3 mb-3">
                <div class="col-md-4">
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Wiek: {{animal.age}} </p>
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Płeć: {{animal.sex}} </p>
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Rasa: {{animal.breed}} </p>
                </div>
                <div class="col-md-4">
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Wielkość: {{animal.size}} </p>
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Wysterlizowany: {{animal.sterilized}}
                    </p>


                </div>
                <div class="col-md-4">
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">Data opublikowania:
                        {{animal.publication_date|date:"d-m-Y"}}
                    </p>
                    <p class="fs-5" style="text-align:left; padding-left: 5%;">W mieście:
                        {{animal.shelter.city}} </p>
                    <a class="fs-5" href="{{animal.link}}" style="text-align:left; padding-left: 5%;">Do strony
                        schroniska</a>
                </div>
            </div>

            <h2 class="fs-2 d-none d-sm-block" style="text-align:left">Opis </h2>
            <p class="fs-5 d-none d-sm-block" style="text-align: justify; overflow: auto;">{{animal.description}} </p>


            <p>
                <button class="btn btn-primary d-block d-sm-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Pokaż/schowaj opis
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="fs-5" style="text-align: left; overflow: auto;">
                    {{animal.description}}
                </div>
            </div>







        </div>
    </div>
</div>



<!-- <div class="container">

    <button class="btn btn-primary hidden visible-xs" type="button" data-bs-toggle="collapse"
        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Collapse Button
    </button>

    <div class="collapse dont-collapse-sm" id="collapseExample">
        <div class="card card-body">
            Collapse Panel
        </div>
    </div>
</div> -->


{% endblock %}