{% extends 'shelters/base.html' %}
{% block content %}

<div class="container" style="max-width:600px">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
        <h1 class="display-4">Kontakt</h1>
        <p class="lead">Jeśli masz jakiekolwiek pytania, użyj poniższego formularza, żeby się z nami skontaktować.</p>
    </div>
    <div>
        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <p></p>


                <div class="alert alert-info justify-content-center text-center" role="alert">
                    {{message}}
                </div>



                {% endfor %}
            </ul>
            {% endif %}
            <div class="col-12 text-white">
                <form method="post" action=".">

                    {% csrf_token %}


                    {{ form.as_p }}

                    <input type="submit" class="btn btn-sm btn-primary" value="Wyślij">

                </form>

            </div>

        </div>
    </div>
</div>

{% endblock %}