{% extends 'shelters/base.html' %}



{% block content %}

<!-- <div class="card" , data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 300px; margin:   ;">
    <img src={{dog.first_picture}} class="rounded" alt="...">
</div> -->

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-6 mb-4 mt-5  justify-content-center" style="max-width: 90%;">
            <img src={{dog.first_picture}} class="rounded" alt="...">
        </div>
        <div class="col-12 col-md-12 col-lg-6 mb-4 mt-5">
            <h1 class="fs-1" style="text-align:left">{{dog.name}} </h1>
            <h2 class="fs-2" style="text-align:left">Opis </h2>
            <p class="fs-5" style="text-align:left; overflow: auto;">{{dog.description}} </p>
            <h1 class="fs-1" style="text-align:left"></h1>
            <h2 class="fs-2" style="text-align:left">Informacje </h2>
            <p class="fs-5" style="text-align:left; padding-left: 5%;">Wiek: {{dog.age}} </p>
            <p class="fs-5" style="text-align:left; padding-left: 5%;">Płeć: {{dog.sex}} </p>
            <p class="fs-5" style="text-align:left; padding-left: 5%;">Rasa: {{dog.breed}} </p>
            <p class="fs-5" style="text-align:left; padding-left: 5%;">Wielkość: {{dog.size}} </p>


        </div>
    </div>
</div>

<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src={{dog.first_picture}} class="img-fluid" alt="...">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>


    {% endblock %}