{% extends 'shelters/base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<section class="py-5 text-center container bg-light-gradient text-white">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Katalog z pieskami do adopcji</h1>
            <p class="lead text-white">Strony udostępniają dane w różnych formatach - część z nich wszystkie parametry
                umieszcza w opisie,
                część w oddzielnych polach, część w ogóle nie udostępnia danych - dlatego mogą występować problemy z
                filtrami i
                sortowaniem</p>

            </p>
            <p>
                <button class="btn btn-primary justify-content-center" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Pokaż/schowaj filtry
                </button>
                <a class="btn btn-danger justify-content-center" href="/dogs">Zresetuj filtry</a>
            </p>
        </div>
    </div>
</section>


<div class="collapse" id="collapseExample">

    <section class="py-5 container text-white">
        <form method="get">
            <div class="row border-primary p-3 rounded mx-auto">
                {{filters.form.sorting|as_crispy_field}}
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    {{filters.form.size|as_crispy_field }}
                    {{filters.form.breed |as_crispy_field}}

                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                    {{filters.form.name|as_crispy_field}}
                    {{filters.form.age|as_crispy_field}}

                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    {{filters.form.sex|as_crispy_field }}
                    {{filters.form.sterilized|as_crispy_field}}
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    {{filters.form.city|as_crispy_field:"bootstrap5" }}
                    {{filters.form.distance|as_crispy_field}}
                </div>

                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">

                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-6">
                </div>
                <button class="btn btn-sm btn-primary" type="submit">Zatwierdź filtry</button>
            </div>
        </form>
    </section>
</div>
<div class="album py-5" style="background-color: #212529">
    <div class="container">
        <div class="row justify-content-center ">

            {% for dog in dogs_json %}
            <div class="col-10 col-md-5 col-lg-3 pb-4 rounded border-primary px-2 ">
                <div class="card text-bg-dark border-dark rounded">
                    <img src={{ dog.first_picture }} href="https://www.w3schools.com" class="card-img" alt="...">

                    <a href=/{{dog.animal_type}}s/{{dog.pk}}>
                        <div class=" card-img-overlay">

                            <h3 class=" card-title align-self-end text-white strokeme">{{ dog.name }} - {{dog.sex}}</h3>

                            <p class="card-text text-white align-self-end strokeme fs-4">{{dog.size}} /
                                {{dog.age}} - {{dogs.shelter}}</p>

                        </div>
                    </a>
                    <p class="card-text text-white bg-dark bg-gradient">Data publikacji: {{dog.publication_date}}</p>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</div>

<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-3">
        {% if dogs_json.has_previous %}
        <li class="page-item">
            <a class="page-link"
                href="?page={{ dogs_json.previous_page_number }}{{ current_filters}}{{ excluded_cities}}">Poprzednia</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Poprzednia</a>
        </li>
        {% endif %}

        {% if dogs_json.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link"
                href="?page={{ dogs_json.number|add:'-5' }}{{ current_filters}}{{ excluded_cities}}">&hellip;</a>
        </li>
        {% endif %}

        {% for i in dogs_json.paginator.page_range %}
        {% if dogs_json.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ i }}
                <span class="sr-only"></span>
            </span>
        </li>
        {% elif i > dogs_json.number|add:'-5' and i < dogs_json.number|add:'5' %} <li class="page-item"><a
                class="page-link" href="?page={{ i }}{{ current_filters}}{{ excluded_cities}}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if dogs_json.paginator.num_pages > dogs_json.number|add:'4' %}
            <li class="page-item"><a class="page-link"
                    href="?page={{ dogs_json.number|add:'5' }}{{ current_filters}}{{ excluded_cities}}">&hellip;</a>
            </li>
            {% endif %}

            {% if dogs_json.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ dogs_json.next_page_number }}{{ current_filters}}{{ excluded_cities}}">Następna</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Następna</a>
            </li>
            {% endif %}
    </ul>
</nav>
<!--end of Pagination-->


{% endblock %}
<!-- https://otozschroniskozg.pl/wp-content/uploads/2021/01/DSC00383-scaled.jpg -->