{% extends 'shelters/base.html' %}



{% block content %}
<div class="container">
    <div class="row justify-content-center " style="max-height: 60;">
        {% for dog in dogs_json %}
        <div class="col-10 col-md-5 col-lg-3 mb-5 pb-3 mt-1 px-1" style="max-height: 60;">
            <div class="card text-center border-primary">
                <div class="card-header">
                    <h6 class="card-title">{{ dog.shelter.address }}, {{dog.publication_date}}</h5>

                </div>
                <div class="card-top">
                    <a href={{ dog.first_picture}}><img src={{ dog.first_picture }} alt="Ogłoszenie nieaktualne"
                            class="card-img-top" id="imgUNcover"></a>
                </div>
                <div class="card-footer">
                    <a href=http://127.0.0.1:8000/dogs/{{dog.pk}} class="card-title">
                        <h6 class="card-text">
                            {{ dog.name }}
                        </h6>

                    </a>
                    <p class="card-text shadow">{{dog.size}} / {{dog.sex}} / {{dog.age}}</p>

                </div>
            </div>
        </div>
        {% endfor %}



    </div>
</div>

<!--Pagination-->
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-3">
        {% if dogs_json.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ dogs_json.previous_page_number }}">Poprzednia</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Poprzednia</a>
        </li>
        {% endif %}

        {% if dogs_json.number|add:'-4' > 1 %}
        <li class="page-item"><a class="page-link" href="?page={{ dogs_json.number|add:'-5' }}">&hellip;</a>
        </li>
        {% endif %}

        {% for i in dogs_json.paginator.page_range %}
        {% if dogs_json.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                {{ i }}
                <span class="sr-only"></span>
            </span>
        </li>
        {% elif i > dogs_json.number|add:'-5' and i < dogs_json.number|add:'5' %} <li class="page-item"><a
                class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}

            {% if dogs_json.paginator.num_pages > dogs_json.number|add:'4' %}
            <li class="page-item"><a class="page-link" href="?page={{ dogs_json.number|add:'5' }}">&hellip;</a></li>
            {% endif %}

            {% if dogs_json.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ dogs_json.next_page_number }}">Następna</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Następna</a>
            </li>
            {% endif %}
    </ul>
</nav>
<!--end of Pagination-->


{% endblock %}
<!-- https://otozschroniskozg.pl/wp-content/uploads/2021/01/DSC00383-scaled.jpg -->