{% extends 'shelters/base.html' %}
{% block content %}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center ">
        <div class="col-10 col-sm-8 col-lg-6 rounded">
            <img src="/static/shelters/third.webp" class="d-block mx-lg-auto img-fluid rounded" alt="Bootstrap Themes"
                width="700" height="600" loading="lazy">
        </div>
        <div class="col-lg-6 g-5 py-5 text-white">
            <h1 class="display-5 fw-bold lh-1 mb-3 ">Zeschroniska.pl - przygarnij zwierzaka</h1>
            <p class="lead">Zeschroniska.pl to miejsce, które gromadzi ogłoszenia o adopcji zwierząt z całej Polski,
                pozwala
                je sortować oraz filtrować na wiele róznych sposób, m.in. po odległości od podanej lokalizacji.
                Sprawdzanie aktualności ogłoszeń i
                dodawanie nowych odbywa się 2 razy
                dziennie.
                Lista schronisk, z których pochodzą ogłoszenia jest w zakładce "Schroniska".
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a type="button" href="/dogs" class="btn btn-primary btn-lg px-4 me-md-2">Przeglądaj psy</a>
                <a type="button" href="/cats" class="btn btn-success btn-lg px-4 me-md-2">Przeglądaj Koty</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}