.card {
    height: 400px;
}

.card-top {
    flex: 1 0 90% !important;
    max-height: 90% !important;
    text-align: center;
}

img {
    /* display: block;
    border: none !important; */
    width: 80%;
    /* height: 100%; */
    /* object-position: 40% 25%; */
    object-fit: cover;
    /* padding: 0rem 0 !important; */
}

.card-body {
    flex: 1 0 10% !important;
    /* max-height: calc(70% - 2rem) !important; */
    /* margin: 1rem 0 !important; */
    padding: 0rem 1rem !important;


}